{
    "parser": "babel-eslint",
    "rules": {
        "no-unused-vars": 0,
        "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
        "max-len": [1, 120, 2, {"ignoreComments": true}],
        "globals": {
            "document": false
        },
        "indent": ["error", "tab", {"ignoredNodes": ["JSXElement"]}],
        "no-tabs": 0,
        "no-underscore-dangle": [2, { "allow": [] }]
    }
}    