.shopping-app {
    & .list-form {
        display: flex;
        align-items: center;
        & .form-group {
            margin-bottom: 1.5rem;
        }
    }
    & .list-items {
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
    }
}