$button-width: 110px;
.shopping-app {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    min-width: 30vw;
    & .list-form {
        display: flex;
        align-items: center;
        & .form-group {
            margin-bottom: 1.5rem;
            flex-basis: 100%;
        }
        & button {
            width: $button-width;
        }
    }
    & .list-items {
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
    }
    & .save-button {
        margin-top: 25px;
        width: $button-width;
        align-self: flex-end;
    }
}